.seventv-emote-menu {	
	position: absolute;

	.seventv-emote-menu-header {
		background-color: var(--seventv-color-background-1);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-radius: 0.4rem;
	}
	.seventv-emote-menu-scrollable {
		background-color: var(--seventv-color-background-0);
		padding-top: 1em;
		border-radius: 0.6rem;
		width: 30rem;
		height: 30rem;
		overflow: auto;
	}
	.seventv-emote-menu-tab {
		background-color: var(--seventv-color-background-1);
		display: flex;
		justify-content: center;
		flex-grow: 1;
		min-height: 3em;

		&.selected {
			border-bottom: 0.1rem solid white !important;
		}
	}
	.seventv-emote-menu-emote-list-section {
		margin-top: 1em;
		margin-left: 1em;
	}
	.seventv-emote-menu-category-header {
		display: flex;
		width: 100%;
		justify-content: center;
		font-size: 1.65rem;

		border-style: solid;
		border-bottom-width: 0.1rem;
		border-color: white;
	}
	.seventv-emote-menu-emote-list {
		display: flex;
		flex-wrap: wrap;

		margin-top: 1em;
		margin-right: .25em;
		margin-left: 1.25em;
		margin-bottom: 1em;

		span {
			margin-right: .2em;
			margin-left: .2em;
			margin-top: .1em;
			margin-bottom: .1em;
		}
	}
	.seventv-emote-menu-search {
		background-color: var(--seventv-background-color);

		input {
			width: 95%;
			height: 3em;
			color: white;
			border-color: white;
			border-width: 0.1rem;
			border-style: solid;
			border-radius: 0.4rem;
			background-color: var(--seventv-color-background-1);
			padding: .5em;
	
			&:focus {
				outline: none !important;
				border: 0.1rem solid rgb(0, 195, 255) ;
				box-shadow: 0 0 1rem rgb(0, 195, 255) !important;
			}
		}
	}
}

.seventv-tray {
	display: block;

	.header {
		max-height: 4em;
		display: flex;
		justify-content: space-between;
		padding: 0.2em;
		padding-bottom: 0.5em;
		border-bottom: 1px solid var(--color-border-base);
		margin: 0.2em;

		.logo {
			width: 3em;
			height: 3em;
		}

		.text {
			color: var(--color-text-alt) !important;
			font-size: var(--font-size-5) !important;
			word-break: break-word !important;
			font-weight: var(--font-weight-semibold) !important;
			font: inherit;
			margin: auto;
		}

		.close {
			border-radius: 0.5rem;
			width: 3em;
			height: 3em;
			cursor: pointer;
			text-align: center;
			padding-top: 0.8em;

			text {
				user-select: none;
			}

			&:hover {
				background-color: var(--color-background-button-text-hover);
			}
		}
	}
	
	.body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin: 0.5em;
		padding-top: 0.5em;
		span {
			margin: 0.2em;
			cursor: pointer;
		}
	}
}
